@import '~react-quill/dist/quill.snow.css';

body {
    font-family: 'Nunito', sans-serif!important;
}

h1, h2, h3 {
    font-weight: 700;  /* Bold */
}

strong {
    font-weight: 600;  /* Semi-Bold */
}

li .a{
    font-family: 'Nunito', sans-serif!important;
}
